*{
    padding: 0px;
    margin: 0px;
     ;
}

.nav{
    background-color: #D8D8D8	;
    height: 8vh;
    
}
#logo{
    background-color: #D8D8D8	;
    float: left;
    width: 47%;
    padding: 1.5%;
    color: black;
    height: 2vh;
}

#menu{
background-color: #D8D8D8	;
float: right;
width: 47%;
padding: 1.5%;
text-align: center;
height: 2vh;
}

#menu ul{
    list-style-type: none;
}

#menu li{
    display: inline;
    padding: 3%;
}

#menu a{
    text-decoration: none;
    color: black;
}

.main_body{
    background-color: #D8D8D8	;	
    height: 420vh;
    margin-top: 0vh;
    position: relative;
}


#about{
    background-color: #080808;
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 10%;
    top: 1%;
    box-shadow: 0px 20px 30px; 
}

#about p{
    color: white;
}

#content-header{
    color: white;
    
    position: absolute;
}

#content{
    color: white;
    
    position: absolute;
    width: 30vw;
    height: 50vh;
    top: 10vh;
    left:10%;
}

#content p{
    padding-top: 4%;
    color: white;
}

#content h1{
    color: white;
}

 #btn{
    position: absolute;
    top: 26vh;
    left: 10%;
    background-color: #C8C8C8;
    padding: 1.5%;
     border-radius: 8px; 
    /* border: none; */
    text-align: center;
    text-decoration: none;
} 


#content-header{
    position: absolute;
    width: 25vw;
    height: 50vh;
    left: 58%;
    top: 10vh;
    
    
}

.image{
    position: absolute;
    top: 6vh;
    /* clip-path: circle(); */
    border-radius: 50%;
    left: 7%;
    height: 40vh;
    border: 3px solid white;
}

#find-me{

position: absolute;
width: 30vw;
left: 10%;
top: 70vh;
}



#skills{
    position: absolute;
    background-color: #F5F5F5	;
    width: 80vw;
    height: 80vh;
    top:110vh;
    left: 10%;
    border-radius: 4px;
    box-shadow: 0px 20px 30px;

}

#skill-set{
    position: absolute;
    width: 35vw;
    height: 7vh ;
    background-color: #202020;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 3vh; 
    top: 2vh;
    border-radius: 4em;
    color: white;
    transform: translate(-50%, -0%);   
    padding-top: 0.5%;
}



#skill_levels{
    position: absolute;
    width: 64vw;
    height: 55vh;
    /* background-color: red; */
    top: 15vh;
    left: 8%;   
    
}
 .container1{
    position: absolute;
    
    width: 80%;
    height: 12vh;
    top: 4vh;
    line-height: 4vh;
    left: 2%;
    
}


.html{
    width: 50%;
    height: 6vh;
    background-color: green;
    vertical-align: middle;
    line-height: 6vh;
    text-align: right;
    border-radius: 8px;
    
}  
.container2{
    position: absolute;
    
    width: 80%;
    height: 12vh;
    top: 14vh;
    line-height: 4vh;
    left: 2%;
    
}


.css{
    width: 40%;
    height: 6vh;
    background-color: rgb(61, 22, 71);
    vertical-align: middle;
    line-height: 6vh;
    text-align: right;
    border-radius: 8px;
} 

.container3{
    position: absolute;
    
    width: 80%;
    height: 12vh;
    top: 24vh;
    line-height: 4vh;
    left: 2%;
    
}


.js{
    width: 20%;
    height: 6vh;
    background-color: rgb(61, 212, 189);
    vertical-align: middle;
    line-height: 6vh;
    text-align: right;
    border-radius: 8px;
} 



.container4{
    position: absolute;
    
    width: 80%;
    height: 12vh;
    top: 34vh;
    line-height: 4vh;
    left: 2%;
    
}


.php{
    width: 1%;
    height: 6vh;
    background-color: rgb(160, 212, 0);
    vertical-align: middle;
    line-height: 6vh;
    text-align: right;
    border-radius: 8px;
}


.container5{
    position: absolute;
    
    width: 80%;
    height: 12vh;
    top: 44vh;
    line-height: 4vh;
    left: 2%;
    
}


.node{
    width: 10%;
    height: 6vh;
    background-color: rgb(255, 124, 255);
    vertical-align: middle;
    line-height: 6vh;
    text-align: right;
    border-radius: 8px;
}


#projects{
    position: absolute;
    background-color: #F5F5F5	;
    width: 100%;
    height: 100vh;
    top:210vh;
    left: 0%;
    border-radius: 4px;
    box-shadow: 0px 20px 30px;
    
}

.works-heading{
    position: absolute;
    width: 20vw;
    height: 5vh ;
    background-color: #C8C8C8;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
    top: 2vh;
    border-radius: 4em;
    color: black;
    transform: translate(-50%, -0%);   
    padding-top: 0.5%;
}

.works{
    position: absolute;
    width: 90vw;
    height: 80vh;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#education{
    position: absolute;
    background-color: #F5F5F5	;
    width: 100%;
    height: 90vh;
    top:330vh;
    left: 0%;
    border-radius: 4px;
    box-shadow: 0px 20px 30px;
    background-color: rgb(61, 212, 189);

}

.education-heading{
    position: absolute;
    width: 20vw;
    height: 5vh ;
    background-color: #C8C8C8;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
    top: 2vh;
    border-radius: 4em;
    color: black;
    transform: translate(-50%, -0%);   
    padding-top: 0.5%;
}


.knowledge-container{
    position: absolute;
    width: 90vw;
    height: 80vh;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.knowledge{
position: absolute;
width: 40%;
height: 50vh;
background-color: white;
left: 5%;
top: 10%;
border-radius: 8px;

}

.experience{
    position: absolute;
width: 40%;
height: 50vh;
background-color: white;
left: 55%;
top: 10%;
border-radius: 8px;

}

.education{
    padding: 2%;
    padding-left: 4%;
}

.work-experience{
    padding: 2%;
    padding-left: 4%;
}

#education p{
    font-style: italic;
}

#footer{
    position: absolute;
    background-color: #040417;
    width: 100%;
    height: 100vh;
}


#contact-form{
    position: absolute;
   font-size: 17px;
    width: 40%;
    color: white;
    left: 60%;
    top: 30vh;
}

#contact-form form input[type=text], textarea {
    width: 80%;
    height: 4vh;
    border-radius: 8px;
    margin: 1%;
}


#contact-form form input[type=email], textarea {
    width: 80%;
    height: 4vh;
    border-radius: 8px;
    margin: 1%;
}



#contact-form form {
font-size: 1em;
}

#subject{
    height: 20vh;
    width:80%;
    margin-left:1%;
    border-radius: 8px;
}


#contact-form form input[type=submit], textarea {
    
    width: 30%;
    height: 4vh;
    border-radius: 8px;
    margin-left: 30%;
    background-color: white;
    
}




#footer-menu{
    position: absolute;
    
    
    width: 15%;
    height: 20vh;
    top: 30vh;
    left: 30%;
    
}

#footer-menu li{
    padding: 3%;
    
}
#footer-menu ul{
    list-style-type: none;
    padding-left: 60%;
}

#footer-menu a{
    text-decoration: none;
    color: white;
}


#contact{
    position: absolute;
    width: 30%;
    height: 30vh;
    
    top: 30vh;

}


#contact-content{
    position: absolute;
    color: white;
    width: 85%;
    height: 20vh;
    left :15%;
    line-height: 1.5em;
}

#copy{
    position: absolute;
    top: 60vh;
    left: 5%;
    color: white;
    /* background-color: green; */
}


#dropdown1 {
    position: absolute;
    display: inline-block;
    background-color: red;
    width: 15%;
    left: 10%;
    top: 10vh;
    text-align: center;
    height: 4vh;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 4vh;
}


#dropdown1:hover .dropdown-content {
    display: block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    text-align: left;
    border-radius: 8px;
       
}

#dropdown2 {
    position: absolute;
    display: inline-block;
    background-color: red;
    width: 15%;
    left: 40%;
    top: 10vh;
    text-align: center;
    height: 4vh;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 4vh;
}

#dropdown2:hover .dropdown-content {
    display: block;
}


#dropdown3 {
    position: absolute;
    display: inline-block;
    background-color: red;
    width: 15%;
    left: 70%;
    top: 10vh;
    text-align: center;
    height: 4vh;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 4vh;
}

#dropdown3:hover .dropdown-content {
    display: block;
}


#dropdown5 {
    position: absolute;
    display: inline-block;
    background-color: red;
    width: 15%;
    left: 40%;
    top: 45vh;
    text-align: center;
    height: 12vh;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 4vh;
}

#dropdown5:hover .dropdown-content {
    display: block;
}




#dropdown4 {
    position: absolute;
    display: inline-block;
    background-color: red;
    width: 15%;
    left: 10%;
    top: 45vh;
    text-align: center;
    height: 4vh;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 4vh;
}

#dropdown4:hover .dropdown-content {
    display: block;
}