*{
    padding: 0px;
    margin: 0px;
     ;
}

.nav{
    background-color: #D8D8D8	;
    height: 8vh;
    
}
#logo{
    background-color: #D8D8D8	;
    float: left;
    width: 47%;
    padding: 1.5%;
    color: black;
    height: 2vh;
}

#menu{
background-color: #D8D8D8	;
float: right;
width: 47%;
padding: 1.5%;
text-align: center;
height: 2vh;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding: 3%;
}

#menu a{
    text-decoration: none;
    color: black;
}

.main_body{
    background-color: #D8D8D8	;	
    height: 200vh;
    margin-top: 0vh;
    position: relative;
}


.about{
    background-color: #080808;
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 10%;
    top: 3%;
    box-shadow: 0px 20px 30px; 
}

.about p{
    color: white;
}

#content-header{
    color: white;
    
    position: absolute;
}

#content{
    color: white;
    
    position: absolute;
    width: 30vw;
    height: 50vh;
    top: 10vh;
    left:10%;
}

#content p{
    padding-top: 4%;
    color: white;
}

#content h1{
    color: white;
}

#work-button{
    position: absolute;
    top: 26vh;
    left: 10%;
    background-color: #C8C8C8;
    padding: 1.5%;
    border-radius: 25%;
    border: none;
    text-align: center;
}


#content-header{
    position: absolute;
    width: 25vw;
    height: 50vh;
    left: 58%;
    top: 10vh;
    
    
}

.image{
    position: absolute;
    top: 6vh;
    /* clip-path: circle(); */
    border-radius: 50%;
    left: 7%;
    height: 40vh;
    border: 3px solid white;
}

#find-me{

position: absolute;
width: 30vw;
left: 10%;
top: 70vh;
}



#skills{
    position: absolute;
    background-color: #F5F5F5	;
    width: 80vw;
    height: 80vh;
    top:110vh;
    left: 10%;
    border-radius: 4px;
    box-shadow: 0px 20px 30px;

}

#skill-set{
    position: absolute;
    width: 35vw;
    height: 7vh ;
    background-color: #202020;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 3vh; 
    top: 2vh;
    border-radius: 4em;
    color: white;
    transform: translate(-50%, -0%);   
    padding-top: 0.5%;
}



#skill_levels{
    position: absolute;
    width: 64vw;
    height: 55vh;
    /* background-color: red; */
    top: 15vh;
    left: 8%;   
    
}
 .container1{
    position: absolute;
    
    width: 80%;
    height: 12vh;
    top: 4vh;
    line-height: 4vh;
    left: 2%;
    
}


.html{
    width: 50%;
    height: 6vh;
    background-color: green;
    vertical-align: middle;
    line-height: 6vh;
    text-align: right;
    border-radius: 8px;
    
}  
.container2{
    position: absolute;
    
    width: 80%;
    height: 12vh;
    top: 14vh;
    line-height: 4vh;
    left: 2%;
    
}


.css{
    width: 40%;
    height: 6vh;
    background-color: rgb(61, 22, 71);
    vertical-align: middle;
    line-height: 6vh;
    text-align: right;
    border-radius: 8px;
} 

.container3{
    position: absolute;
    
    width: 80%;
    height: 12vh;
    top: 24vh;
    line-height: 4vh;
    left: 2%;
    
}


.js{
    width: 20%;
    height: 6vh;
    background-color: rgb(61, 212, 189);
    vertical-align: middle;
    line-height: 6vh;
    text-align: right;
    border-radius: 8px;
} 



.container4{
    position: absolute;
    
    width: 80%;
    height: 12vh;
    top: 34vh;
    line-height: 4vh;
    left: 2%;
    
}


.php{
    width: 1%;
    height: 6vh;
    background-color: rgb(160, 212, 0);
    vertical-align: middle;
    line-height: 6vh;
    text-align: right;
    border-radius: 8px;
}


.container5{
    position: absolute;
    
    width: 80%;
    height: 12vh;
    top: 44vh;
    line-height: 4vh;
    left: 2%;
    
}


.node{
    width: 10%;
    height: 6vh;
    background-color: rgb(255, 124, 255);
    vertical-align: middle;
    line-height: 6vh;
    text-align: right;
    border-radius: 8px;
}
